@model TestMembership.User
<div id="logininfo"></div>
@if(Request.IsAuthenticated) {
    <text>
        Welcome @HttpContext.Current.User.Identity.Name
        [ @Html.ActionLink("Log Off", "Logout", "Account") ] 
    </text>
}
else {
    using (Html.BeginForm(  "Login", 
                            "Account", 
                            new {ReturnUrl = @Request.QueryString["ReturnUrl"]}, 
                            FormMethod.Post, 
                            new {id="userlogin"}))
    {
            @Html.AntiForgeryToken()
        
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)

            @Html.LabelFor(m => m.RememberMe)
            @Html.CheckBoxFor(m => m.RememberMe)

            <input type="submit" value="Log in" />
    }
}

<script type="text/javascript">

$(document).ready(function() {
    var request;

    $("#userlogin").submit(function (event) {
        if (request) {
            request.abort();
        }

        var $form = $(this);

        var serializedData = $form.serialize();

        var request = $.ajax({
            url: "/account/login",
            type: "post",
            data: serializedData
        });

        request.done(function (response, textStatus, jqXHR) {
            console.log("It worked: " + response);
            //$('#summary').html(data);
        });

        request.fail(function (jqXHR, textStatus, errorThrown) {
            console.error("The following error occured: " + textStatus, errorThrown);
        });

        event.preventDefault();
    });
});
</script>